@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.p-def-lower-margin{
	margin-bottom: 40px; 
}

.GMEPLG-media ul{
	@extend .row;

	li:first-child{
		@extend .col-sm-12;
		padding: 0;
		margin-bottom: 10px; 
		img{
			width: 100%;
			height: auto; 
		}
	}

	li:nth-child(2),
	li:nth-child(3),
	li:nth-child(4),
	li:nth-child(5){
		@extend .col-sm-6;
		@extend .col-xs-12; 

		height: 150px; 
		overflow: hidden; 
		display: block; 
		margin-bottom: 10px; 

		img{
			width: 100%;
			height: auto; 
		}
	}


}

.GMEPLG-media{
	margin-bottom: 15px; 
}

.GMEPLG-gj{
	@extend .p-def-lower-margin;
	text-align: center;
}

.GMEPLG-news-img img{
	width: 100%;
	height: auto;  
}

.GMEPLG-meta ul{
	list-style: none; 
	text-align: center; 
	margin: 0; 
	padding: 0;
	margin-bottom: 15px; 

	label{
		width: 100%;
	}

	.meta-key{
		font-size: 150%;
	}
}

@import "breakpoints";